# 讀取開信行為資料

recipientSn 寄信行為<br>
campaignSn 活動編號<br>
mailAddress 收件人email<br>
domain 收件eamil的domain<br>
openedFlag 開信行為<br>

In [1]:
import pandas as pd
import re
import os
import jieba
import jieba.posseg as pseg
import pickle
import numpy as np
from tqdm import tqdm_notebook

In [2]:
## turn back to main directory
os.chdir("../")
os.getcwd()

'/project/at082-group17'

In [25]:
fileName = '201809'

## 篩選要讀取的欄位

In [26]:
# 取出col欄位
useCols = list(pd.read_csv('data/2018_1_8/' + fileName + '.csv', nrows =1))
useCols.remove('subject')
useCols.remove('fromName')
print(useCols)

['recipientSn', 'campaignSn', 'mailAddress', 'domain', 'openedFlag', 'bouncedFlag', 'fromMailAddress', 'scheduledDate']

## 讀檔！！！ 這很久

In [27]:
openMailData = pd.read_csv('data/2018_1_8/' + fileName + '.csv', usecols = useCols, parse_dates = ['scheduledDate'])

In [28]:
openMailData.head()

,recipientSn,campaignSn,mailAddress,domain,openedFlag,bouncedFlag,fromMailAddress,scheduledDate
0,0000000065851670016590cec5b01c31,0000000065862abb016590cd07103ef2,a76eb4e04329c7b991916c1c683f50b48136da1f61a4ab...,gmail.com,Y,NaN,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30
1,0000000065851670016590ced8221c32,0000000065862abb016590cd07103ef2,43067fbd95f879bccc33b202b56c5e0e863c4b9e66bc40...,ms17.hinet.net,NaN,NaN,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30
2,0000000065851670016590ced8221c33,0000000065862abb016590cd07103ef2,12b42bf1af628523bc100e781efb4766ab08c42f333924...,ms29.hinet.net,NaN,NaN,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30
3,0000000065851670016590ced8221c34,0000000065862abb016590cd07103ef2,a2f9884a3f72089c5cd2f2381608530e30cb18ee22b8bd...,gmail.com,NaN,NaN,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30
4,0000000065851670016590ced8231c35,0000000065862abb016590cd07103ef2,e0314174d4d4a1507f692498999ad5fd828dd1efd75bf7...,hotmail.com,Y,NaN,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30

## 將被退信的資料移除 並刪除’bouncedFlag‘欄位

In [29]:
openMailDataIndex = openMailData['bouncedFlag'] != 'Y'
openMailData = openMailData[openMailDataIndex]
del openMailData['bouncedFlag']

## 將openedFlag 轉bool

In [30]:
openMailData['openedFlag'] = openMailData['openedFlag'] == 'Y'

In [31]:
openMailData.describe()

,recipientSn,campaignSn,mailAddress,domain,openedFlag,fromMailAddress,scheduledDate
count,9728435,9728435,9728435,9728435,9728435,9728435,9728435
unique,9728435,3286,4217922,89534,2,727,2950
top,00000000658516700165fa141a1e1ab0,0000000065f22c3c0165fa4e76026b8d,70a0b4aface445d4c01fcda547e15043d5b0a97f74e201...,gmail.com,False,askme@brain.com.tw,2018-09-25 00:00:00
freq,1,314573,172,3847399,8395850,575157,314573
first,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-01 00:26:30
last,NaN,NaN,NaN,NaN,NaN,NaN,2018-09-30 23:41:02

## Features Combination by groupby(對domain做處理)

In [32]:
df_temp = openMailData[["domain", "scheduledDate"]].groupby("domain").count().reset_index()
df_temp.columns = ["domain", "domain_count"]
openMailData = openMailData.merge(df_temp, how="left", on="domain")
openMailData.head()

,recipientSn,campaignSn,mailAddress,domain,openedFlag,fromMailAddress,scheduledDate,domain_count
0,0000000065851670016590cec5b01c31,0000000065862abb016590cd07103ef2,a76eb4e04329c7b991916c1c683f50b48136da1f61a4ab...,gmail.com,True,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30,3847399
1,0000000065851670016590ced8221c32,0000000065862abb016590cd07103ef2,43067fbd95f879bccc33b202b56c5e0e863c4b9e66bc40...,ms17.hinet.net,False,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30,3963
2,0000000065851670016590ced8221c33,0000000065862abb016590cd07103ef2,12b42bf1af628523bc100e781efb4766ab08c42f333924...,ms29.hinet.net,False,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30,2478
3,0000000065851670016590ced8221c34,0000000065862abb016590cd07103ef2,a2f9884a3f72089c5cd2f2381608530e30cb18ee22b8bd...,gmail.com,False,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30,3847399
4,0000000065851670016590ced8231c35,0000000065862abb016590cd07103ef2,e0314174d4d4a1507f692498999ad5fd828dd1efd75bf7...,hotmail.com,True,yippee@mail.ncku.edu.tw,2018-09-01 00:26:30,1075598

## 對時間做處理(轉星期,與時間取cos)

In [33]:
openMailData['dayofweek'] = openMailData['scheduledDate'].apply(lambda x: x.dayofweek)

In [34]:
import math
def myCos(x):
    return math.cos(x * math.pi)
def getTime(x):
    time = (x.second + (x.minute * 60) + (x.hour  * 60 * 60)) / (60 * 60 * 12)
    return myCos(time)
openMailData['time'] = openMailData['scheduledDate'].apply(getTime)

## 將mail的資料 存為pickle檔

In [35]:
## save data as pickle format
with open('data/pickle/' + fileName + '.p', "wb") as file:
    pickle.dump(openMailData, file)

## 讀取回pickle 看是否正常

In [39]:
## load 'article_cutted'
with open('data/pickle/' + fileName + '.p', "rb") as file:
    openMailData = pickle.load(file)

In [15]:
openMailData.head()

,recipientSn,campaignSn,mailAddress,domain,openedFlag,fromMailAddress,scheduledDate,domain_count,dayofweek,time
0,00000000606f8cfb0160af1258331bb9,00000000609630da0160af09b8626299,6a359cb4196db9a02c8d195b73f11374d65591365a37d8...,chwa.com.tw,True,jerry.org101@gmail.com,2018-01-01 08:14:59,156,0,-0.555510
1,00000000606f8cfb0160af1258891bba,00000000609630da0160af09b8626299,804fdb3632b9c90532fb1abaa5945a8d869ca05b92e75a...,gmail.com,False,jerry.org101@gmail.com,2018-01-01 08:14:59,2943558,0,-0.555510
2,00000000606f8cfb0160af1258891bbb,00000000609630da0160af09b8626299,fa9ae8234796d6caf56919a79af59276f976e928bb65b5...,jerry.org.tw,True,jerry.org101@gmail.com,2018-01-01 08:14:59,25,0,-0.555510
3,00000000606f8cfb0160af1258891bbc,00000000609630da0160af09b8626299,f58cab34ed3a0687423ecb6a22aba1a7cad758370428ea...,jerry.org.tw,False,jerry.org101@gmail.com,2018-01-01 08:14:59,25,0,-0.555510
4,00000000606f8cfb0160af3c39a61c20,00000000609630da0160a1fa993b43fe,3f62411f0d85adbcc6010c8ca98fae7e6165f481175588...,msa.hinet.net,False,service.edm@hotains.com.tw,2018-01-01 09:00:00,99925,0,-0.707107